{% extends 'dashboard/base.html'%}
{% load bootstrap4 %}
{% load blog %}

{% block blogContent %}
    {% if request.user.is_authenticated %}
    <form class="form-inline" action="{% url 'dashboard:create_post' %}" method="post">
        {% bootstrap_form post_form layout='inline' %}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Senden</button>
    </form>
    {% endif %}

    {% for post in posts %}
        {% blog_post post %}
    {% empty %}
        <div class="row">
            <div class="col-12">
                {% if user == request.user %}
                <p> Du hast noch nichts geteilt.</p>
                {% else %}
                <p> Der User {{ user.username }} hat noch nichts geteilt.</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}
